.head_bg{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.3) 100%), url('../assets/beige-green-building-day.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.head_bg_about{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.3) 100%), url('../assets/city-background-panoramic-view.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.nav_btn{
    background-color: rgb(255, 255, 90);
    border-radius: 20px;
    border: none;
    color: black;
}
.nav_links:hover{
    color: rgb(255, 255, 90);
    transition: .4s;
}
.nav_nav{
    border-radius: 15px;
    height: 100px;
    width: 100%;
    max-width: 35rem;
    min-width: 0;
    gap: 1rem;
}
.nav_bg{
    background-color: white;
    transition: .4s;
    box-shadow: 0 0 20px grey;
}
.nav_tp{
    background-color: transparent;
    transition: .4s;
}
.house{
    box-shadow: 0 0 10px;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
}
.house img{
    border-radius: 10px;
    height: 25rem;
}
.carousel-img-fix {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* the carousel indicator below is a custom of the default bootstrap carousel indicator */
.carousel-indicators [data-bs-target] {
    background-color: #000 !important;
    border: none;
    opacity: 0.5;
}
.carousel-indicators .active {
    opacity: 1;
}

/* this is the custom carousel indicator for the about us page */
#about_carousel [data-bs-target] {
    background-color: #fff !important;
    border: none;
    opacity: 0.5;
}
#about_carousel .active {
    opacity: 1;
}

.position{
    border-bottom: 2px solid rgb(255, 255, 90);
}

.video-custom{
    border-radius: 20px;
    overflow: hidden;
    height: 30rem;
}