{% extends 'base.html' %}
{% load humanize %}


{% block content %}
<header class="head_bg_explore">
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="text-lg-end display-3 fw-bolder text-white">Explore Properties</h1>
        <p style="color: rgb(255, 255, 90);">Find your dream home</p>
    </div>
</header>
<!-- search and filter bar -->
<div class="container-fluid d-flex flex-column flex-lg-row justify-content-lg-between align-items-center text-center text-lg-start my-3 p-3" style="background-color: rgb(247, 247, 247);">
    <p class="fw-bold"><i class="bi bi-house-fill me-2"></i>Property listing</p>

    <!-- search and filter bar -->
    <form method="get" class="form-control d-flex justify-content-around p-3 nav_nav">
        <!-- select option -->
        <div class="form-group">
            <label for="Type" class="fw-bold">Type:</label>
            <select name="type" id="Type" class="form-control">
                <option value="duplex">Duplex</option>
                <option value="bungalow">Bungalow</option>
                <option value="apartment">Apartment</option>
            </select>
        </div>
    
            <div class="form-group">
                <label for="Price" class="fw-bold">Price:</label>
                <select name="price" id="Price" class="form-control">
                    <option value="100000">&#8358 100,000 - &#8358 500,000</option>
                    <option value="500000">&#8358 500,000 - &#8358 1,000,000</option>
                    <option value="1000000">&#8358 1,000,000 - &#8358 5,000,000</option>
                    <option value="5000000">&#8358 5,000,000 - &#8358 10,000,000</option>
                    <option value="10000000">&#8358 10,000,000 and above</option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="Location" class="fw-bold">Location:</label>
                <select name="location" id="Location" class="form-control">
                    <option value="abia">Abia</option>
                    <option value="anambra">Anambra</option>
                    <option value="delta">Delta</option>
                    <option value="port-harcourt">Port-harcourt</option>
                    <option value="lagos">Lagos</option>
                    <option value="abuja">Abuja</option>
                    <option value="jos">Jos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success d-flex" style="height: 40px; margin-top: 15px;"><i class="bi bi-search me-2"></i>Search</button>
    </form>

    <!-- dropdown for sorting -->
    <div class="d-flex justify-content-end mt-3 align-items-center">
        <label for="sort" class="me-2 fw-bold">Sort by:</label>
        <select id="sort" class="form-control w-auto">
            <option value="price_asc">Price: Low to High</option>
            <option value="price_desc">Price: High to Low</option>
            <option value="newest">Newest Listings</option>
        </select>
    </div>
</div>
<p class="my-0 fw-bold ms-3">Available Homes:</p>
<hr class="w-50" style="height: 5px; color: grey; background-color: grey; border-radius: 0 10px 10px 0 ;">

<!-- home display -->
<section class="bg-dark p-3 mb-4 mt-0">
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for house in houses %}
                    <div class="col-10 col-lg-4 mb-4 d-flex align-items-stretch">
                        <div class="house position-relative w-100 h-100 p-3 bg-white">
                            {% if house.sale %}
                                <div class="badge bg-light text-black position-absolute p-1" style="top: 20px; left: 20px; font-size: 13px;">Sale</div>
                            {% endif %}
                            <img src="{{house.image.url}}" alt="house" class="img-fluid w-100" style="height: 200px; object-fit: cover;">
                            <p class="mt-2"><i class="bi bi-geo-alt-fill me-1"></i>{{house.Location}}</p>
                            <h3 class="">{{house.Title}}</h3>
                            <div class="ps-0 d-flex justify-content-between" style="gap: 2px; font-size: 13px;">
                                <p class="d-flex"><i class="bi bi-person-fill me-1"></i>{{house.bed_room}} Bed Room</p>
                                <p class="d-flex"><i class="bi bi-bucket-fill me-1"></i>{{house.bath}} Bath</p>
                                <p class="d-flex"><i class="bi bi-aspect-ratio me-1"></i>{{house.square_ft|intcomma}} Square ft</p>
                            </div>
                            <div class="ps-0 mt-2 d-flex justify-content-between align-items-center">
                                <h4 class="fw-bold" style="font-size: 18px;">&#8358 {{house.Price|intcomma}}</h4>
                                <a href="" class="btn btn-success">View details <i class="bi bi-arrow-right" style="gap: 2px;"></i></a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}