<nav class="navbar navbar-expand-lg fixed-top nav_tp">
    <div class="container-fluid">
        <!-- Brand -->
        <a href="{% url 'home' %}" class="navbar-brand me-auto w-25 ms-5 fw-bolder">Riltor</a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="d-flex w-100 justify-content-between align-items-center flex-column flex-lg-row">
                <!-- Nav Links -->
                <div class="d-flex flex-grow-1 justify-content-center">
                    <ul class="navbar-nav flex-row flex-lg-row justify-content-center w-100 mb-2 mb-lg-0">
                        <li class="nav-item mx-3">
                            <a href="{% url 'home' %}" class="nav-link fw-bold nav_links" id="home">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a href="{% url 'about' %}" class="nav-link fw-bold nav_links" id="about">About Us</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a href="{% url 'contact' %}" class="nav-link fw-bold nav_links" id="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- Explore Button -->
                <div class="d-flex flex-grow-1 justify-content-center mt-3 mt-lg-0">
                    <a href="" class="btn btn-secondary px-4 py-2 nav_btn">Explore properties</a>
                </div>
            </div>
        </div>
    </div>
</nav>
